body {
	background: #f0f0f0;
	margin: 0;
	padding: 0;
	
	/*font-family: Georgia, 'Myriad Pro', 'Trebuchet MS', Helvetica, Arial;*/
	font-family: "Source Sans Pro", "Open Sans", "Century Gothic", CenturyGothic, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, sans-serif;

	line-height: 18px;
	font-size: 14px;

	color: #222;
}

h1, h2, h3, h4 {
	margin: 0 0 2px 0;
	padding: 0;
	font-weight: normal;
}
h1 {
	font-size: 400%;
}
h2 {
	font-size: 210%;
}
h3 {
	font-size: 130%;
}

p {
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
}
a {
	color: #222;
}
/* ________________________________________________________ */
.rtl {
	direction: rtl;
}
.clear {
	clear: both;
}

#main {
	background: #fff;
	width: 900px;
	padding: 35px;
	margin: 0 auto 15px auto;
	overflow: hidden;
	
	box-shadow: 0 0 6px #ccc;
}

#title {
	margin: 0px 0 14px 0;
	line-height: 42px;
	color: #111;
	
	/*border-bottom: 1px solid #111;*/
	padding-bottom: 5px;
}

#credit {
	margin-bottom: 20px;
	font-size: 11px;
	color: #999;
	text-align: center;
}
	#credit a {
		color: #999;
	}

p label {
	font-weight: bold;
	
	font-size: 110%;
	margin-right: 10px;
}
	p label span.colon {
		display: inline;
	}


.section {
	margin-bottom: 10px;
}

.item {
	margin: 0 0 20px 0;
}

/*  _____________________________ */

.photo .basic-info .set {
	float: none !important;
	width: auto !important;
}
.basic-info .address {
	width: 40%;
	float: left;
}
.basic-info .r {
	float: right;
	width: 58%;
	text-align: right;
}
	.basic-info label {
		font-weight: bold;
	}
	.basic-info label, .basic-info span  {
		display: inline !important;
	}
.basic-info p {
	margin: 0;
}

.section .title {
	float: left;
	font-size: 100%;
	width: 100%;
  margin: 0 20px 5px 0; 
	font-size: 20px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 5px;
}
.section .set {
	float: right;
	width: 78%;
}
	.section .set h3 {
		margin: 0;
	}
.section span.value {
	display: block;
}
.section h3 span.l, .section span.r {
	width: 49%;
	float: left;
}
	.section span.r {
		float: right;
		text-align: right;
	}
	.section-education .school,
	.section-work .job_title {
		font-size: 115%;
		display: block;
		margin: 5px 0 5px 0;
	}


#photo {
	width: 160px;
	height: 200px;
	overflow: hidden;
	float: left;
	border-radius: 4px;
}
#photo img {
	width: 100%;
	height: auto;
}
.header.photo {
	margin-left: 190px;
}
.header.photo #title {
	text-align: left;
}
.header.photo .basic-info {
	float: none;
	padding: 0;
}

ul.contact {
  padding: 2px 0 2px 0;
}

ul.contact li{
  display: inline-block;
}

ul.contact a {
  text-decoration: none;
}

ul.contact li:not(:first-child):before {
  content: "|";
  padding-right: 4px; 
}

@media screen and (max-width: 950px) {
	body {
		background: #fff;
	}
	#main {
		box-shadow: none;
		padding: 0;
		padding: 5px;
	}
}

.section-summary p{
	font-size: 16px;
}